<link rel="stylesheet" type="text/css" href="/index/index.component.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<body>
  <div style="text-align:center">
    <h1>Welcome to Golden Gardens</h1>
    <img width="500" alt="Golden Gardens Logo" src="../../assets/Logo.png">
  </div>
  <h2>Explore our website </h2>
  <div class="photolinks">
      <h2><a routerLink="/about"><img src="" />About</a></h2>
      <h2><a routerLink="/products">Products</a></h2>
      <h2><a routerLink="/login">Log In</a></h2>
  </div>
</body>
