body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    margin: 0px;
    background-image: url(https://files.slack.com/files-pri/TFE6RTUA3-FHCJHGMJ5/website_background.jpeg); 
    background-size: cover;  
}

h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 5em; 
    color: #0e450e;
}

h2{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 2em;
}
h3{
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    font-size: 2em;
}
h4{
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    font-size: 0.5em; 
}

.photolinks{
    display: inline;
    list-style: none;
    padding: 10px;

}
