<link rel="stylesheet" type="text/css" href="/index/index.component.css">

<body>
  <div style="text-align:center">
    <h1>
      Welcome to Golden Gardens!
    </h1>
    <img width="500" alt="Golden Gardens Logo" src="https://files.slack.com/files-pri/TFE6RTUA3-FHJKD439N/logo.png">
  </div>
  <h2>Explore our website </h2>
  <div class="photolinks">
    <ul>


      <li>
        <a routerLink="/about"><img src="" />About</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</body>