body{
    
}

.content{
    background-color: rgba(255, 255, 255, 0.15);
}

.bg-img{
    background-image: url(https://files.slack.com/files-pri/TFE6RTUA3-FHCJHGMJ5/website_background.jpeg);
    background-size: cover;
}


nav{
    background-color: transparent;
    display: ruby-text-container;
    list-style-type: none;
    padding-bottom: 50px;
 }
 
 ul#nav-ul{
         list-style: none;
         float: right;
            
     }
     
 ul#nav-ul li{
         display: inline;
         padding-right: 30px;
         font-size: 1em;
         text-shadow: 1px 1px 2px #000000;
     }

h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 5em; 
    color:  #0e450e;
    text-shadow: 12px, 12px, 12px #000000;
    padding-bottom: 30px;
}

h2{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 2em;
    color: #0e450e;
}

h3{
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    font-size: 1.4em;
    color: #0e450e;
}

h4{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1em; 
    color: black;
}

h5{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1em; 
    color: #e5b624;
}

p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.5em; 
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 2%;
    text-justify: newspaper;
    color: white;
}

.address{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1em; 
    padding-left: 10%;
    color: white;
}


.form-group{
margin-left: 25%;
max-width: 50%;
}

.send-section{
    margin-left: 25%;
}

